#orderTable {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: white;
}

.myOrderTable {
	background-color: white;
}

#myOrderFail {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#orderTable th {
	background-color: #ffe1fe;
}