<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="모두에게 열려있는 수제 브랜드 쇼핑몰 입니다.">
    <meta name="keywords" content="수제, 쇼핑몰, 브랜드, 생활">

    <!-- 구글 폰트 : 영문 필기체(Margarine), 한글(Nanum+Gothic) -->
    <link href="https://fonts.googleapis.com/css?family=Margarine|Nanum+Gothic" rel="stylesheet">

    <!-- 폰트 어썸 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="../../resources/js/jquery-3.3.1.min.js"></script>

    <!--summernote-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.js"></script>

    <!-- validation javascript -->
    <script src="../../resources/js/addPieceFormValidation.js"></script>
    <script src="../../resources/js/addPiece.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/main.css">
    <link rel="stylesheet" href="../../resources/css/loginForm.css">
    <link rel="stylesheet" href="../../resources/css/joinForm.css">
    <link rel="stylesheet" href="../../resources/css/addPiece.css">
    <link rel="stylesheet" href="../../resources/css/blog.css">
    <link rel="stylesheet" href="../../resources/css/blogPiece.css">

    <title>IDUS - 새로운 쇼핑을 경험하세요.</title>
</head>

<body>
    <header>
        <div class="container">
            <!-- 위쪽 헤더 -->
            <div class="upper header">
                <!-- 로고 -->
                <div class="logo">
                    <h1>
                        <a href="${pageContext.request.contextPath}/">idus</a>
                    </h1>
                </div>
                <!-- 검색 창 -->
                <div class="searchBar">
                    <input type="text" class="search" name="search" placeholder="작품, 작가 명을 입력 하세요.">
                    <button class="searchBtn" type="button">검색</button>
                </div>
                <!-- 사용자 프로필 -->
                <div class="profile">
                    <a href="${pageContext.request.contextPath}/login">로그인</a>
                    <a href="${pageContext.request.contextPath}/join">회원가입</a>
                </div>
            </div>
            <div class="lower header">
                <nav>
                    <ul class="gnb">
                        <li><a href="${pageContext.request.contextPath}/">메인</a></li>
                        <li><a href="">신작품</a></li>
                        <li><a href="">인기 작품</a></li>
                        <li><a href="">인기 작가</a></li>
                        <li><a href="">공방</a></li>
                        <li><a href="">문의</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="sectionHeader">
                <h1>작품 목록</h1>
                <hr>
                <p>좋아하는 작가의 작품을 만나보세요!</p>
            </div>

            <div class="atelier">
                <!-- 좌측 네비게이션 -->
                <div class="leftNav">
                    <!-- 프로필 -->
                    <div class="blogProfile">
                        <!-- 프로필 사진 : 블로그 주인 프로필 이미지 받아오기 -->
                        <div class="profileImage" style="background-image: url(${artist.thumbnail})"></div>
                        <!-- 작가 이름 -->
                        <div class="name">
                            <h3>${artist.nickName}</h3>
                        </div>
                        <!-- 자기소개 -->
                        <div class="introduction">${artist.introduction}</div>
                    </div>

                    <c:if test="${artist.isManager()}">
                        <!-- 자신 소유 블로그 일때 보이는 메뉴 -->
                        <div class="loginMenu">
                            <ul>
                                <li class="menubtn"><a href="${pageContext.request.contextPath}/blog/addPiece">상품 등록</a></li>
                                <li class="menubtn"><a href="${pageContext.request.contextPath}/blog/writePost">포스트 작성</a></li>
                                <li class="menubtn"><a href="">나의 주문 관리</a></li>
                            </ul>
                        </div>
                    </c:if>

                    <!-- 일반 메뉴 -->
                    <div class="generalMenu">
                        <ul>
                            <c:if test="${!artist.isManager() && !empty auth}">
                                <!-- 타인의 공방에만 보이는 메뉴 -->
                                <li class="menubtn"><a href="">즐겨찾기 추가</a></li>
                            </c:if>
                            <!-- 공통 메뉴 -->
                            <li class="menubtn"><a href="">상품보기</a></li>
                            <li class="menubtn"><a href="">포스트 보기</a></li>
                        </ul>
                    </div>
                    <!-- 공방 정보 -->
                    <div class="info">
                        <h3>활동 정보</h3>
                        <p>팔로우 : ${artist.follower}</p>
                    </div>
                </div>

                <!-- 우측 -->
                <div class="blogContent">
                    <h3>판매중인 작품</h3>
                    <form action="" method="get" class="pieceSearch">
                        <input type="search" placeholder="작가의 작품 내 검색" name="title"><button type="submit" onclick="">검색</button>
                    </form>
                    <hr>
                    <div class="pieceContainer">
                        <div class="piece" onclick="">
                            <div class="pieceImage" style="background-image: url(../../resources/user/image/userThumbnail/1.jpg)"></div>
                            <h4 class="nickName">쁨스</h4>
                            <p class="title">[쁨스] 일본st 벚꽃풍경 귀걸이</p>
                            <p class="price">
                                <span class="discount">[20%] 10000 원</span>
                                <span class="originalPrice">29500 원</span>
                            </p>
                            <hr>
                            <span style="color: gold" class="star">
                                <!--for문 돌리기-->
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                        <div class="piece" onclick="">
                            <div class="pieceImage" style="background-image: url(../../resources/user/image/userThumbnail/1.jpg)"></div>
                            <h4 class="nickName">쁨스</h4>
                            <p class="title">[쁨스] 일본st 벚꽃풍경 귀걸이</p>
                            <p class="price">
                                <span class="discount">[20%] 10000 원</span>
                                <span class="originalPrice">29500 원</span>
                            </p>
                            <hr>
                            <span style="color: gold" class="star">
                                <!--for문 돌리기-->
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                        <div class="piece" onclick="">
                            <div class="pieceImage" style="background-image: url(../../resources/user/image/userThumbnail/1.jpg)"></div>
                            <h4 class="nickName">쁨스</h4>
                            <p class="title">[쁨스] 일본st 벚꽃풍경 귀걸이</p>
                            <p class="price">
                                <span class="discount">[20%] 10000 원</span>
                                <span class="originalPrice">29500 원</span>
                            </p>
                            <hr>
                            <span style="color: gold" class="star">
                                <!--for문 돌리기-->
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                        <div class="piece" onclick="">
                            <div class="pieceImage" style="background-image: url(../../resources/user/image/userThumbnail/1.jpg)"></div>
                            <h4 class="nickName">쁨스</h4>
                            <p class="title">[쁨스] 일본st 벚꽃풍경 귀걸이</p>
                            <p class="price">
                                <span class="discount">[20%] 10000 원</span>
                                <span class="originalPrice">29500 원</span>
                            </p>
                            <hr>
                            <span style="color: gold" class="star">
                                <!--for문 돌리기-->
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                        <div class="piece" onclick="">
                            <div class="pieceImage" style="background-image: url(../../resources/user/image/userThumbnail/1.jpg)"></div>
                            <h4 class="nickName">쁨스</h4>
                            <p class="title">[쁨스] 일본st 벚꽃풍경 귀걸이</p>
                            <p class="price">
                                <span class="discount">[20%] 10000 원</span>
                                <span class="originalPrice">29500 원</span>
                            </p>
                            <hr>
                            <span style="color: gold" class="star">
                                <!--for문 돌리기-->
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                        <div class="piece" onclick="">
                            <div class="pieceImage" style="background-image: url(../../resources/user/image/userThumbnail/1.jpg)"></div>
                            <h4 class="nickName">쁨스</h4>
                            <p class="title">[쁨스] 일본st 벚꽃풍경 귀걸이</p>
                            <p class="price">
                                <span class="discount">[20%] 10000 원</span>
                                <span class="originalPrice">29500 원</span>
                            </p>
                            <hr>
                            <span style="color: gold" class="star">
                                <!--for문 돌리기-->
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                        <div class="piece" onclick="">
                            <div class="pieceImage" style="background-image: url(../../resources/user/image/userThumbnail/1.jpg)"></div>
                            <h4 class="nickName">쁨스</h4>
                            <p class="title">[쁨스] 일본st 벚꽃풍경 귀걸이</p>
                            <p class="price">
                                <span class="discount">[20%] 10000 원</span>
                                <span class="originalPrice">29500 원</span>
                            </p>
                            <hr>
                            <span style="color: gold" class="star">
                                <!--for문 돌리기-->
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                        <div class="piece" onclick="">
                            <div class="pieceImage" style="background-image: url(../../resources/user/image/userThumbnail/1.jpg)"></div>
                            <h4 class="nickName">쁨스</h4>
                            <p class="title">[쁨스] 일본st 벚꽃풍경 귀걸이</p>
                            <p class="price">
                                <span class="discount">[20%] 10000 원</span>
                                <span class="originalPrice">29500 원</span>
                            </p>
                            <hr>
                            <span style="color: gold" class="star">
                                <!--for문 돌리기-->
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                        <div class="piece" onclick="">
                            <div class="pieceImage" style="background-image: url(../../resources/user/image/userThumbnail/1.jpg)"></div>
                            <h4 class="nickName">쁨스</h4>
                            <p class="title">[쁨스] 일본st 벚꽃풍경 귀걸이</p>
                            <p class="price">
                                <span class="discount">[20%] 10000 원</span>
                                <span class="originalPrice">29500 원</span>
                            </p>
                            <hr>
                            <span style="color: gold" class="star">
                                <!--for문 돌리기-->
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                        <div class="piece" onclick="">
                            <div class="pieceImage" style="background-image: url(../../resources/user/image/userThumbnail/1.jpg)"></div>
                            <h4 class="nickName">쁨스</h4>
                            <p class="title">[쁨스] 일본st 벚꽃풍경 귀걸이</p>
                            <p class="price">
                                <span class="discount">[20%] 10000 원</span>
                                <span class="originalPrice">29500 원</span>
                            </p>
                            <hr>
                            <span style="color: gold" class="star">
                                <!--for문 돌리기-->
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                        <div class="piece" onclick="">
                            <div class="pieceImage" style="background-image: url(../../resources/user/image/userThumbnail/1.jpg)"></div>
                            <h4 class="nickName">쁨스</h4>
                            <p class="title">[쁨스] 일본st 벚꽃풍경 귀걸이</p>
                            <p class="price">
                                <span class="discount">[20%] 10000 원</span>
                                <span class="originalPrice">29500 원</span>
                            </p>
                            <hr>
                            <span style="color: gold" class="star">
                                <!--for문 돌리기-->
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                        <div class="piece" onclick="">
                            <div class="pieceImage" style="background-image: url(../../resources/user/image/userThumbnail/1.jpg)"></div>
                            <h4 class="nickName">쁨스</h4>
                            <p class="title">[쁨스] 일본st 벚꽃풍경 귀걸이</p>
                            <p class="price">
                                <span class="discount">[20%] 10000 원</span>
                                <span class="originalPrice">29500 원</span>
                            </p>
                            <hr>
                            <span style="color: gold" class="star">
                                <!--for문 돌리기-->
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                        <div class="piece" onclick="">
                            <div class="pieceImage" style="background-image: url(../../resources/user/image/userThumbnail/1.jpg)"></div>
                            <h4 class="nickName">쁨스</h4>
                            <p class="title">[쁨스] 일본st 벚꽃풍경 귀걸이</p>
                            <p class="price">
                                <span class="discount">[20%] 10000 원</span>
                                <span class="originalPrice">29500 원</span>
                            </p>
                            <hr>
                            <span style="color: gold" class="star">
                                <!--for문 돌리기-->
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="upper footer">
                <ul class="gnb">
                    <li><a class="address" href="">이용약관</a></li>
                    <li><a class="address" href="">개인정보 취급방침</a></li>
                    <li><a class="address" href="">공지사항</a></li>
                    <li><a class="address" href="">자주 묻는 질문</a></li>
                </ul>
            </div>
            <div class="lower footer address">
                <h2>idus</h2>
                <p> 주소 : 서울시 금천구</p>
                <p><a href="" class="address">http://www.idus.com</a></p>
                <p>&copy; idus corp. All rights reserved.</p>
            </div>
        </div>
    </footer>



</body>

</html>
